---
on:
  push:
    branches:
      - main
      - master
  pull_request:

name: ⚒️ CI

jobs:
  rubocop:
    name: 'RuboCop'
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v5
    - name: Set up Ruby
      uses: ruby/setup-ruby@v1
      with:
        bundler-cache: true
    - name: Run tests
      run: bundle exec rubocop -c .rubocop.yml
